{% extends 'base.html.twig' %}

{% block title %}Choose Language{% endblock %}

{% block body %}

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header text-center header-perso h3" >
            FREEDOM SOFTWARE
        </div>
        <div class="card-body body-perso">
            <div class="row mb-5 mt-5">
                <div class="col-md-6">
                    <a href="{{ path('home_chooseSchoolYear', {'local': 'fr'}) }}" class="btn btn-perso btn-block">
                        Fran&ccedil;ais
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="{{ path('home_chooseSchoolYear', {'local': 'en'} ) }}" class="btn btn-perso btn-block">
                        English
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
