{% extends 'base.html.twig' %}

{% block title %}{% trans %}Display SchoolYear{% endtrans %}{% endblock %}

{% block subTitle %}
    
{% endblock %}

{% block body %}
    <h1>display school year</h1>
{% endblock %}
