{% extends 'base.html.twig' %}

{% block title %}{% trans %}Save SchoolYear{% endtrans %}{% endblock %}

{% block subTitle %}
    
{% endblock %}

{% block body %}
    <h1>save school year</h1>
{% endblock %}
