{% extends 'base.html.twig' %}

{% block title %}{% trans %}Student List{% endtrans %}{% endblock %}

{% block subTitle %}
    {% trans %}MANAGEMENT OF PROVISIONAL LISTS{% endtrans %}
{% endblock %}

{% block body %}
<!-- App-Content -->
	<div class="hor-content main-content">
		<div class="container">
        
            <!--Page header-->
            <div class="page-header">
                <div class="page-leftheader">
                    <h4 class="page-title mb-0 text-primary"></h4>
                </div>
                <div class="page-rightheader">
                    <div class="btn-list">
                        
                    </div>
                </div>
            </div>
            <!--End Page header-->

            <div class="card border-primary">
                <div class="card-header">
                    <span class="page-title mb-0 text-primary">
                        {% trans %}Printing of provisional lists{% endtrans %}
                    </span>
                </div>
                <div class="card-body">
                    <form action="{{ path('deliberation_printStudentProvisoryList') }}" method="post" target="_blank">
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select name="classroom" id="classroom" class="form-control select2-show-search" data-placeholder="Choose a classroom" required>
                                        <option label="Choose a classroom"></option>
                                        <option value="0">{% trans %}All Classes{% endtrans %}</option>
                                        
                                        {% if subSystem == 'Francophone / French Speaker' %}
                                            {% if school.education.education == 'Général' %}
                                                {% include "includes/_selectClassroomsWithoutSelected.html.twig" %}
                                                {% else %}
                                                    {% include "includes/_selectClassroomsWithoutSelectedTech.html.twig" %}
                                            {% endif %}
                                            {% else %}
                                                {% include "includes/_selectClassroomsWithoutSelectedEn.html.twig" %}
                                        {% endif %}

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <button class="btn btn-outline-primary btn-medium w-100 br-7" type="submit" name="printStudentList">
                                        <i class="fa fa-print"></i>
                                        {% trans %}Print{% endtrans %}</button>
                                </div>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
