{% extends 'base.html.twig' %}

{% block title %}
{% trans %}Unranked coefficients management{% endtrans %}
{% endblock %}

{% block subTitle %}
    {% trans %}COEFFICIENT/MARKS LIMITS MANAGMENT{% endtrans %}
{% endblock %}
{% block infoMessage %}
    {% include "includes/_info_message.html.twig" %}
{% endblock %}

{% block currentUser %}
    {{teacher.fullName }}
{% endblock %}

{% block stylesheets %}
	<style>
		th,
		tfoot {
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		}
        td{
            text-align: center !important;
            vertical-align: middle !important;
        }
	</style>
{% endblock %}

{% block body %}
<!-- App-Content -->
	<div class="hor-content main-content">
		<div class="container">
        
            <!--Page header-->
            <div class="page-header">
                <div class="page-leftheader">
                    <h4 class="page-title mb-0 text-primary"></h4>
                </div>
                <div class="page-rightheader">
                    <div class="btn-list">
                        
                    </div>
                </div>
            </div>
            <!--End Page header-->

            <div class="card border-primary">
                <div class="card-header">
                    <div class="col-md-10">
                        <span class="page-title mb-0 text-primary">
                            {% trans %}Choice of the number of limit coefficients/marks allowing to be ranked or unranked{% endtrans %}
                        </span>
                    </div>
                    <div class="col-md-2">
                        <a href="{{ path('report_report') }}" class="btn btn-outline-primary btn-medium w-100 br-7">
                            <i class="fa fa-list"></i> {% trans %}Bulletins{% endtrans %}
                        </a>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="row">
                        <div class="col-md-12">
                            <table border="1" class="table table-bordered text-nowrap" id="example2" width="100%" cellspacing="0">
                                <thead>
                                    <th class="border-bottom-0 indigo-gradient">{% trans %}Level{% endtrans %}</th>
                                    <th class="border-bottom-0 green-gradient">{% trans %}Limit coefficient/mark{% endtrans %}</th>
                                    <th class="border-bottom-0 orange-gradient">{% trans %}Section concerned{% endtrans %}</th>
                                    <th class="border-bottom-0 blue-gradient">{% trans %}Apply on{% endtrans %}</th>
                                    <th class="border-bottom-0 indigo-gradient">{% trans %}Update{% endtrans %}</th>
                                </thead>
                                <tfoot>
                                    <th class="border-bottom-0 indigo-gradient">{% trans %}Level{% endtrans %}</th>
                                    <th class="border-bottom-0 green-gradient">{% trans %}Limit coefficient/mark{% endtrans %}</th>
                                    <th class="border-bottom-0 orange-gradient">{% trans %}Section concerned{% endtrans %}</th>
                                    <th class="border-bottom-0 blue-gradient">{% trans %}Apply on{% endtrans %}</th>
                                    <th class="border-bottom-0 indigo-gradient">{% trans %}Update{% endtrans %}</th>
                                </tfoot>
                                <tbody>
                                    {% include "includes/_unranked_coefficient_row.html.twig" with {'levelsName': levelsName.level1, 'unrankedCoefficientCycle': unrankedCoefficientCycle.level1, 'level': 1, 'inputName': 'level1'} %}
                                    {% include "includes/_unranked_coefficient_row.html.twig" with {'levelsName': levelsName.level2, 'unrankedCoefficientCycle': unrankedCoefficientCycle.level2, 'level': 2, 'inputName': 'level2'} %}
                                    {% include "includes/_unranked_coefficient_row.html.twig" with {'levelsName': levelsName.level3, 'unrankedCoefficientCycle': unrankedCoefficientCycle.level3, 'level': 3, 'inputName': 'level3'} %}
                                    {% include "includes/_unranked_coefficient_row.html.twig" with {'levelsName': levelsName.level4, 'unrankedCoefficientCycle': unrankedCoefficientCycle.level4, 'level': 4, 'inputName': 'level4'} %}
                                    {% include "includes/_unranked_coefficient_row.html.twig" with {'levelsName': levelsName.level5, 'unrankedCoefficientCycle': unrankedCoefficientCycle.level5, 'level': 5, 'inputName': 'level5'} %}
                                    {% include "includes/_unranked_coefficient_row.html.twig" with {'levelsName': levelsName.level6, 'unrankedCoefficientCycle': unrankedCoefficientCycle.level6, 'level': 6, 'inputName': 'level6'} %}
                                    {% include "includes/_unranked_coefficient_row.html.twig" with {'levelsName': levelsName.level7, 'unrankedCoefficientCycle': unrankedCoefficientCycle.level7, 'level': 7, 'inputName': 'level7'} %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                        
{% endblock %}
